<div id="hero-unit">

</div>

<div class="col-md-6 front-page">
  <div class="logo-image-background">
    <%= image_tag("dirty-cookie.jpg") %>
  </div>
</div>

<div class="col-md-6 front-page">
  <h1 class="front-page-header">Welcome to the Dirty Cookie!</h1>
</div>
