<h1>Admin Dashboard</h1>
<p><%= link_to "Create New Menu Item", new_menu_item_path(@item), class: "btn btn-success" %></p>
<p><%= link_to "Create New Category", new_menu_category_path(@item), class: "btn btn-success" %></p>
