<h1>Account Settings</h1>

<% @orders.each do |order| %>
  <h4>Order #<%= order.id %></h4>
  <p>Total: $<%= total_price(order) %></p>
  <% order.items.each do |item| %>
    <!-- Need to change this to link to the individual item eventually -->
    <p><%= link_to item.name, menu_item_path(item) %></p>
  <% end %>
  <p>Status: <%= order.status %></p>
<% end %>
