h1 {
  text-align: center;
  padding-bottom: 20px;
}

body {
/*  background-color: #9BA9B3 !important;*/
  background: #ebbd5b !important;

}

.container {
  border-radius: 25px;
}

.front-page {
  text-align: center;
}

.front-page-header span {
  font-size: .7em;
}

.jumbotron {
  background-image: url(cookie-background.jpg);
  background-repeat: no-repeat;
  min-height: 534px;
  width: 950px;
}

.jumbotron h1 {
  font-size: 25;
}

.items {
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  }

.item-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

button.glyphicon {
  font-size:12px !important;
}

.image-background {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #9c5619;
}

.logo-image-background {
  display: inline-block;
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#admin-buttons {
  text-align: center;
}

#category-table {
  text-align: center;
}

#checkout-item {
  padding: 20px;
}

#checkout-total {
  background-color: #d3d3d3;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

#hero-unit {
  background-image: url("cookie-background.jpg");
  }

.menu-image {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.menu-buttons {
  margin: 0 auto !important;
}

.retired-item {
  clear: all;
  color: red;
  font-weight: bold;
}

.order_id_title {
  font-size: 1.2em;
}

.orders_color_white {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.user_orders {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}


/*#navbar-color {
  background-color: #9c5619;
  border-color: #9c5619;
}*/
