<h1>New Category</h1>

<h2>Please enter your new category:</h2>

<%= form_for [:menu, @category] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.submit "Submit", class: 'btn btn-default'%>
<% end %>