<h1><%= current_category.name.capitalize %></h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-4 items">
      <div class="image-background">
        <%= image_tag item.image.url, class: "menu-image" %>
      </div>
      <br>
      <%= link_to item.name, menu_item_path(item) %>
      <%= button_to "Add to Cart", cart_items_path(item: item), class: "btn btn-default" %>
    </div>
  <% end %>
</div>
